@supports (grid-area: auto){
  
article.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas: 
       "carousel carousel"
       "title title"
       "image intro"
       "map image"
       "image testimony";
  }
  
  
article.herocarousel{ grid-area: carousel;
    }
  
article.title{ grid-area: title; }
    
article.image-thumbnail{ grid-area: image; }

article.map{ grid-area: map; }

article.intro{ grid-area: intro; }

article.testimony{ grid-area: testimony; }
  

  
}
.image-thumbnail{
    background-color: plum;
    height:400px;
}
.intro, .map, .testimony{
    background-color: cornflowerblue;
}
header,footer{
    background-color: coral;
}

footer{
    height: 200px;
}

header{
    height: 100px;
}
.title{
    background-color: antiquewhite;
}
.herocarousel{
    background-color: darkgray;
    height: 500px;
}
